# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://DBUSERNAME:DBPASSWORD@localhost:3306/DBNAMEHERE"
TOKEN="BOT_TOKEN"
guildId="MAIN_GUILD (TO ADD RESTRICTED COMMANDS TO)"

LOG_GUILD="GUILD TO LOG CHANGES"
LOG_CHANNEL="CHANNEL TO LOG ALL CHANGES"

MAIN_GUILD="GUILD WITH ALL CUSTOMERS IN"